<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082401069694-anj9vul0iaeeqvoqqo45rtc4fpe1ab1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082401069694-anj9vul0iaeeqvoqqo45rtc4fpe1ab1c</string>
	<key>API_KEY</key>
	<string>AIzaSyB2iAUSoKmC20S4L1iuEst-TdxuucWFRUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1082401069694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.aswitch.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-new-8814f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-new-8814f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082401069694:ios:0fa907f69b8f54b93ed62f</string>
</dict>
</plist>